[Desktop Entry]
Version=1.0
Type=Application
Name=Facebook
Comment=Facebook Web Application
Exec=flatpak run org.chromium.Chromium --app="https://Facebook.com" --new-window
Icon=Facebook
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=chrome-facebook.com__-Default
StartupNotify=true
Terminal=false


