[Desktop Entry]
Version=1.0
Type=Application
Name=Whatsapp
Comment=Whatsapp Web Application
Exec=flatpak run org.chromium.Chromium --app="https://web.whatsapp.com/" --new-window
Icon=Whatsapp
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=chrome-web.whatsapp.com__-Default
StartupNotify=true
Terminal=false


