include "00-startup.kdl"
include "10-workspace.kdl"
include "20-output.kdl"
include "30-input.kdl"
include "40-layout.kdl"
include "50-visuals.kdl"
include "60-animations.kdl"
include "70-window-rules.kdl"
include "80-binds.kdl"
include "90-overview.kdl"
include "95-other.kdl"

include "dms/outputs.kdl"

include "dms/cursor.kdl"
include "dms/binds.kdl"

include "dms/windowrules.kdl"
