[Desktop Entry]
Version=1.0
Type=Application
Name=OpenCode
Comment=OpenCode Web Application
Exec=chromium --app=http://localhost:39839/ --new-window
Icon=/home/osmarg/.local/share/icons/opencode.svg
Categories=Development;
NoDisplay=false
StartupWMClass=chrome-localhost__-Default
StartupNotify=true
Terminal=false
