* {
    bg-col:       #131b1a;
    surface-col:  #192120;
    border-col:   #9bd0cc;
    selected-col: #255b58;
    fg-col:       #dce8e6;
    fg-col2:      #dce8e6;
    prompt-fg:    #0d4845;
    grey:         #6d7876;
    teal:         #9bd0cc;
    blue:         #9bd0cc;
}
