[Desktop Entry]
Version=1.0
Type=Application
Name=Chatgpt
Comment=Chatgpt Web Application
Exec=chromium --app="https://chatgpt.com" --new-window
Icon=Chatgpt
Categories=Development;
NoDisplay=false
StartupWMClass=chrome-chatgpt.com__-Default
StartupNotify=true
Terminal=false
