[Desktop Entry]
Version=1.0
Type=Application
Name=Excalid Draw Diagramas
Comment=Excalid Draw Web App
Exec=chromium --app="https://excalidraw.com/" --new-window
Icon=Excalid Draw Diagramas
Categories=Office;
NoDisplay=false
StartupWMClass=chrome-excalidraw.com__-Default
StartupNotify=true
Terminal=false
