[Desktop Entry]
Version=1.0
Type=Application
Name=Fast
Comment=Fast Web Application
Exec=chromium --app="https://fast.com" --new-window
Icon=Fast
Categories=Development;
NoDisplay=false
StartupWMClass=chrome-fast.com__-Default
StartupNotify=true
Terminal=false
